<%- include("../../partials/examplesHead") %>

<h4>2. Activate a clickwrap</h4>
<p>Activates a new clickwrap that you have already created. 
    By default, new clickwraps are inactive. You must activate 
    your clickwrap before you can use it.
</p>

<%- include("../../partials/docBody") %>

<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/updateclickwrapversion"
    >
        ClickWraps::updateClickwrapVersion
    </a>
</p>

<%- include("../../partials/gitSource") %>

<% if (clickwrapsData.clickwraps.length == 0) { %>
    <p>Problem: You do not have clickwraps to activate. Go to example#1 and create one: 
        <a href="eg001">create clickwrap</a><br/>Thank you.
    </p>
    <form class="eg" action="eg001" method="get">
        <button type="submit" class="btn btn-docu">Continue</button>
    </form>
<% } else { %>
    <p>Please choose a clickwrap to activate</p>

    <form class="eg" action="" method="post" data-busy="form-download">
        <div class="form-group">
            <label for="clickwrap">Clickwrap</label>
            <select class="custom-select" id="clickwrap"
                    name="clickwrap">
                <% for(var i=0; i < clickwrapsData.clickwraps.length; i++) { %>
                <option value="<%=JSON.stringify(clickwrapsData.clickwraps[i])%>">
                    <%= clickwrapsData.clickwraps[i].clickwrapName %>
                </option>
                <% } %>
            </select>
        </div>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <button type="submit" class="btn btn-docu">Submit</button>
    </form>
<% } %>

<%- include("../../partials/examplesFoot") %>
