<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<% include("../../partials/functions") %>

<% if (clickwrapsData.clickwraps.length == 0) { %>
    <%- formatString(example.RedirectsToOtherCodeExamples[0].RedirectText, formatString('href="ceg00{0}"', example.RedirectsToOtherCodeExamples[0].CodeExampleToRedirectTo)) %>
    <form class="eg" action="ceg001" method="get">
        <%- include("../../partials/continueButton") %>
    </form>
<% } else { %>
    <form class="eg" action="" method="post" data-busy="form-download">
        <% if(example.Forms && example.Forms[0].FormName) { %>
          <%- example.Forms[0].FormName %>
        <% } %>
        
        <div class="form-group">
            <label for="clickwrapId"><%= example.Forms[0].Inputs[0].InputName %></label>
            <select class="custom-select" id="clickwrapId"
                    name="clickwrapId">
                <% for(var i=0; i < clickwrapsData.clickwraps.length; i++) { %>
                <option value="<%=clickwrapsData.clickwraps[i].clickwrapId%>"><%= clickwrapsData.clickwraps[i].clickwrapName %></option>
                <% } %>
            </select>
        </div>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <%- include("../../partials/submitButton") %>
    </form>
<% } %>

<%- include("../../partials/examplesFoot") %>
