<%- include("../../partials/examplesHead") %>

<h4>3. Create a new clickwrap version</h4>
<p>
    Creates a new version of a clickwrap.
</p>
<p>
    You can specify whether you require users who have previously accepted the clickwrap 
    to accept the new version when they return to your website.
</p>

<%- include("../../partials/docBody") %>

<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/createclickwrapversion"
    >
        ClickWraps::createClickwrapVersion
    </a>
</p>

<%- include("../../partials/gitSource") %>

<% if (clickwrapsData.clickwraps.length == 0) { %>
    <p>Problem: You do not have clickwraps to activate. Go to example#1 and create one: 
        <a href="eg001">create clickwrap</a><br/>Thank you.
    </p>
    <form class="eg" action="eg001" method="get">
        <button type="submit" class="btn btn-docu">Continue</button>
    </form>
<% } else { %>

    <form class="eg" action="" method="post" data-busy="form-download">
        <div class="form-group">
            <label for="clickwrapId">Clickwrap</label>
            <select class="custom-select" id="clickwrapId"
                    name="clickwrapId">
                <% for(var i=0; i < clickwrapsData.clickwraps.length; i++) { %>
                <option value="<%=clickwrapsData.clickwraps[i].clickwrapId%>"><%= clickwrapsData.clickwraps[i].clickwrapName %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="clickwrapName">New Name</label>
            <input type="text" class="form-control" id="clickwrapName" name="clickwrapName" required/>
        </div>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <button type="submit" class="btn btn-docu">Submit</button>
    </form>
<% } %>

<%- include("../../partials/examplesFoot") %>
