<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<form class="eg" action="" method="post" data-busy="form">
    <% if(example.Forms && example.Forms[0].FormName) { %>
      <%- example.Forms[0].FormName %>
    <% } %>
    
    <div class="form-group">
        <label for="userName"><%= example.Forms[0].Inputs[0].InputName %></label>
        <input type="text" class="form-control" id="userName" name="userName"
               placeholder="<%= example.Forms[0].Inputs[0].InputPlaceholder %>" required>
    </div>
    <div class="form-group">
        <label for="firstName"><%= example.Forms[0].Inputs[1].InputName %></label>
        <input type="text" class="form-control" id="firstName" name="firstName"
               placeholder="<%= example.Forms[0].Inputs[1].InputPlaceholder %>" required>
    </div>
    <div class="form-group">
        <label for="lastName"><%= example.Forms[0].Inputs[2].InputName %></label>
        <input type="text" class="form-control" id="lastName" name="lastName"
               placeholder="<%= example.Forms[0].Inputs[2].InputPlaceholder %>" required>
    </div>
    <div class="form-group">
        <label for="email"><%= example.Forms[0].Inputs[3].InputName %></label>
        <input type="email" class="form-control" id="email" name="email"
            aria-describedby="emailHelp" placeholder="<%= example.Forms[0].Inputs[3].InputPlaceholder %>" required>
        <small id="emailHelp" class="form-text text-muted"><%= locals.manifest.SupportingTexts.HelpingTexts.EmailWontBeShared %></small>
    </div>
    <% if (eSignPermissionProfiles && eSignPermissionProfiles.length > 0) { %>
        <div class="form-group">
            <label for="eSignPermissionProfileId"><%= example.Forms[0].Inputs[4].InputName %></label>
            <select id="eSignPermissionProfileId" name="eSignPermissionProfileId" class="form-control">
                <% eSignPermissionProfiles.forEach( permissionProfile => { %>
                    <option value="<%= permissionProfile.permission_profile_id%>"> <%= permissionProfile.permission_profile_name %> </option>
                <% }) %>
            </select>
        </div>
    <% } else { %>
        <p>Problem: Please first create an eSignature permission profile.</a>
            </br>Thank you.</p>
    <% } %>
    <% if (clmPermissionProfiles && clmPermissionProfiles.length > 0) { %>
      <div class="form-group">
          <label for="clmPermissionProfileId"><%= example.Forms[0].Inputs[5].InputName %></label>
          <select id="clmPermissionProfileId" name="clmPermissionProfileId" class="form-control">
              <% clmPermissionProfiles.forEach( permissionProfile => { %>
                  <option value="<%= permissionProfile.permission_profile_id %>"> <%= permissionProfile.permission_profile_name %> </option>
              <% }) %>
          </select>
      </div>
  <% } else { %>
      <p>Problem: Please first create a CLM permission profile.</a>
          </br>Thank you.</p>
  <% } %>
    <% if (dsGroups && dsGroups.length > 0) { %>
        <div class="form-group">
            <label for="dsGroupId"><%= example.Forms[0].Inputs[6].InputName %></label>
            <select id="dsGroupId" name="dsGroupId" class="form-control">
                <% dsGroups.forEach( group => { %>
                    <option value="<%= group.ds_group_id %>"> <%= group.group_name %> </option>
                <% }) %>
            </select>
        </div>
    <% } else { %>
        <p>Problem: Please first create a DocuSign Admin group.</a>
            </br>Thank you.</p>
    <% } %>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <%- include("../../partials/submitButton") %>
    <div class="form-group">
        <label for="clmProductId"></label>
        <input type="hidden" class="form-control" id="clmProductId" name="clmProductId" value="<%= clmProductId %>" >
    </div>
    <div class="form-group">
        <label for="eSignProductId"></label>
        <input type="hidden" class="form-control" id="eSignProductId" name="eSignProductId" value="<%= eSignProductId %>" >
    </div>
</form>

<%- include("../../partials/examplesFoot") %>
