<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<% include("../../partials/functions") %>

<% if (emailOk) { %>
    <% if(example.Forms && example.Forms[0].FormName) { %>
      <%- formatString(example.Forms[0].FormName, email) %>
    <% } %>
    
    <form class="eg" action="" method="post" data-busy="form">
        <% if (permissionProfileList && permissionProfileList.length > 0) { %>
            <div class="form-group">
                <label for="productId"><%= example.Forms[0].Inputs[0].InputName %></label>
                <select id="productId" name="productId" class="form-control">
                    <% permissionProfileList.forEach( profile => { %>
                        <option value="<%= profile.productId %>"> <%= profile.permissionName %> </option>
                    <% }) %>
                </select>
            </div>
        <% } else { %>
            <p>Problem: Please first create a user with permission profile.
            </br>Thank you.</p>
        <% } %>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <%- include("../../partials/submitButton") %>
    </form>
<% } else { %>
    <%- formatString(example.RedirectsToOtherCodeExamples[0].RedirectText, formatString('href="aeg00{0}"', example.RedirectsToOtherCodeExamples[0].CodeExampleToRedirectTo)) %>

    <form class="eg" action="aeg002" method="get">
        <%- include("../../partials/continueButton") %>
    </form>
<% } %>

<%- include("../../partials/examplesFoot") %>
