<%- include("../../partials/examplesHead") %>

<!--
//ds-snippet-start:WebForms1Step6
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div id="app">
      <div id="webform-customer-app-area">
        <h1 id="webforms-heading">Embedded Webform Example</h1>
        <div id="docusign" class="webform-iframe-container">
          <p>Web Form will render here</p>
        </div>
      </div>
    </div>
  </body>
</html>

<p><a href="/">Continue</a></p>

<script src="https://js.docusign.com/bundle.js"></script>
<script>
  async function loadWebform() {
    const { loadDocuSign } = window.DocuSign
    const docusign = await loadDocuSign('<%= integrationKey %>');
    const webFormOptions = {
      //Used with the runtime API workflow, for private webforms this is needed to render anything
      instanceToken: '<%= instanceToken %>',
      //Controls whether the progress bar is shown or not
      hideProgressBar: false,
      //Right now this parameter doesn't do anything but in the future
      //it will be used to customize visual elements of the form experience
      //such as the font color and other things
      styles: {
        fontColor: "black",
      },
      //These styles get passed directly to the iframe that is rendered
      iframeStyles: {
        minHeight: "1500px",
      },
      //Controls the auto resize behavior of the iframe
      autoResizeHeight: true,
      //These values are passed to the iframe URL as query params
      tracking: {
        "tracking-field": "tracking-value",
      },
      //These values are passed to the iframe URL as hash params
      hidden: {
        "hidden-field": "hidden-value",
      },
    };
    const webFormWidget = docusign.webforms({
      url: '<%= formUrl %>',
      options: webFormOptions,
    })
    webFormWidget.mount("#docusign");
  }
  loadWebform();
</script>
<!--
//ds-snippet-end:WebForms1Step6
-->
  
<%- include("../../partials/examplesFoot") %>
