<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<form class="eg" action="" method="post" data-busy="form">
  <% if(example.Forms && example.Forms[0].FormName) { %>
    <%- example.Forms[0].FormName %>
  <% } %>
  
  <div class="form-group">
    <label for="startDate"><%= example.Forms[0].Inputs[0].InputName %></label>
    <input type="date" class="form-control" id="startDate" name="startDate" value= <%= startDate %> required>
  </div>

  <div class="form-group">
    <label for="endDate"><%= example.Forms[0].Inputs[1].InputName %></label>
    <input type="date" class="form-control" id="endDate" name="endDate" value= <%= currentDate %> required>
  </div>

  <input type="hidden" name="_csrf" value="<%- csrfToken %>">
  <%- include("../../partials/submitButton") %>
</form>

<%- include("../../partials/examplesFoot") %>
