<%- include("../../partials/examplesHead") %>

<h4>2. Query monitoring data with filters</h4>

<p>
  Demonstrates how to query an organization's data based on specified filters and aggregations.
</p>

<%- include("../../partials/docBody") %>

<p>API method used:
  <a target='_blank' href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/postwebquery/">DataSet:postWebQuery</a>.
</p>

<%- include("../../partials/gitSource") %>
<p>Please select start and end dates.</p>

<form class="eg" action="" method="post" data-busy="form">
  <div class="form-group">
    <label for="startDate">Start date</label>
    <input type="date" class="form-control" id="startDate" name="startDate" value= <%= startDate %> required>
  </div>

  <div class="form-group">
    <label for="endDate">End date</label>
    <input type="date" class="form-control" id="endDate" name="endDate" value= <%= currentDate %> required>
  </div>

  <input type="hidden" name="_csrf" value="<%- csrfToken %>">
  <button type="submit" class="btn btn-docu">Continue</button>
</form>

<%- include("../../partials/examplesFoot") %>
