<%- include("../../partials/examplesHead") %>

<h4>5. List an envelope's recipients and their status</h4>
<p>List the envelope's recipients, including their current status.</p>

<%- include("../../partials/docBody") %>
  
  <p>API method used: 
   <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/enveloperecipients/list/">EnvelopeRecipients::list</a>.
</p>
<%- include("../../partials/gitSource") %>
<% if (envelopeOk) { %>
  <p>The envelope you created via example 2 will be queried.</p>
  
  <form class="eg" action="" method="post" data-busy="form">
      <input type="hidden" name="_csrf" value="<%- csrfToken %>">
      <button type="submit" class="btn btn-docu">Continue</button>
  </form>

<% } else { %>
  <p>Problem: please first create an envelope using <a href="eg002">example 2.</a> <br/>
     Thank you.</p>
     
  <form class="eg" action="eg002" method="get">
      <button type="submit" class="btn btn-docu">Continue</button>
  </form>
<% } %>
  
<%- include("../../partials/examplesFoot") %>
