<%- include("../../partials/examplesHead") %>

<h4>8. Create a template</h4>
<p>Create a template with two roles, <b>signer</b> and <b>cc</b>. 
   The template includes three documents.
</p>

<p>Templates are usually created using the DocuSign web tool. This example creates
  a template that will later be used by other examples in this launcher. </p>
  
<p>This example first lists the user's templates and only creates a new template if one does not already exist in your account.
</p>

<%- include("../../partials/docBody") %>
  
<p>API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/templates/templates/list/">Templates::list</a>,
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/templates/templates/create/">Templates::create</a>.
</p>

<%- include("../../partials/gitSource") %>  
  <form class="eg" action="" method="post" data-busy="form">
      <input type="hidden" name="_csrf" value="<%- csrfToken %>">
      <button type="submit" class="btn btn-docu">Continue</button>
  </form>
  
<%- include("../../partials/examplesFoot") %>
