<%- include("../../partials/examplesHead") %>

<h4>16. Set tab values for a envelope</h4>
<p>This example creates an example with both read-only tabs (fields) and tabs that can
    be updated by the recipient.</p>
<p>The example also sets custom metadata in the envelope via the envelope custom fields feature.</p>

<%- include("../../partials/docBody") %>

<p>API method used:
   <a target ='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>
<%- include("../../partials/gitSource") %>
<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
      <label for="signerEmail">Signer Email</label>
      <input type="email" class="form-control" id="signerEmail" name="signerEmail"
             aria-describedby="emailHelp" placeholder="pat@example.com" required
             value="<%= locals.dsConfig.signerEmail %>">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="signerName">Signer Name</label>
      <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
        value="<%= locals.dsConfig.signerName %>" required>
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-docu">Submit</button>
  </form>
  
  <%- include("../../partials/examplesFoot") %>

