<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<% if (envelopeOk) { %>
  <form class="eg" action="" method="post" data-busy="form">
    <% if(example.Forms && example.Forms[0].FormName) { %>
      <%- example.Forms[0].FormName %>
    <% } %>
    
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <%- include("../../partials/submitButton") %>
  </form>

  <% } else { %>
    <p>
      <%- formatString(example.RedirectsToOtherCodeExamples[0].RedirectText, formatString('href="eg0{0}"', example.RedirectsToOtherCodeExamples[0].CodeExampleToRedirectTo)) %>
    </p>
     
  <form class="eg" action="eg016" method="get">
      <%- include("../../partials/continueButton") %>
  </form>
  <% } %>

  <%- include("../../partials/examplesFoot") %>
  