<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<% include("../../partials/functions") %>

<% if (!envelopeOk) { %>
    <%- formatString(example.RedirectsToOtherCodeExamples[0].RedirectText, formatString('href="eg00{0}"', example.RedirectsToOtherCodeExamples[0].CodeExampleToRedirectTo)) %>
<% } %>

<form class="eg" action="" method="post" data-busy="form">
    <% if(example.Forms && example.Forms[0].FormName) { %>
      <%- example.Forms[0].FormName %>
    <% } %>
    
    <div class="form-group">
        <label for="startingView"><%= example.Forms[0].Inputs[0].InputName %></label>
        <select id="startingView" name="startingView" class="form-control">
                <option value="frontPage" selected>Front page</option>
                <option value="envelope" <%= envelopeOk ? '' : 'disabled="true"' %> >
                    The envelope's documents view</option>
        </select>
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <%- include("../../partials/submitButton") %>
</form>
  
<%- include("../../partials/examplesFoot") %>
