<%- include("../../partials/examplesHead") %>

<h4>27. Deleting a permission profile</h4>
<p>
    Permission profiles are collections of account settings that determine the behavior and actions available
    to the user groups to which they're applied.
    This code example demonstrates how to delete a permission profile with the eSignature REST API.
</p>

<%- include("../../partials/docBody") %>

<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/code-examples/permission-profile-deleting">AccountPermissionProfiles::delete.</a>.
</p>


<%- include("../../partials/gitSource") %>

<% if (profiles.length == 0) { %>
<p>Problem: please first create the profile using <a href="eg024">example 24.</a> <br/> Thank you.</p>

<form class="eg" action="eg024" method="get">
    <button type="submit" class="btn btn-docu">Continue</button>
</form>
<% } else { %>
<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="profiles">Permission profiles</label>
        <select id="profileId" name="profileId" class="form-control">
            <% profiles.forEach( profile => { %>
            <option value="<%= profile.permissionProfileId %>" selected> <%= profile.permissionProfileName %> </option>
            <% }) %>
        </select>
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<% } %>

<%- include("../../partials/examplesFoot") %>
