<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<form action="" class="eg" method="post" data-busy="form">
  <% if(example.Forms && example.Forms[0].FormName) { %>
    <%- example.Forms[0].FormName %>
  <% } %>
  
    <div class="form-group">
        <label for="permissionProfileId"><%= example.Forms[0].Inputs[0].InputName %></label>
        <select id="permissionProfileId" name="permissionProfileId" class="form-control">
          <% permissions.forEach( permission => { %>
            <option value="<%= permission.permissionProfileId %>" selected> <%= permission.permissionProfileName %> </option>
          <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="userGroupId"><%= example.Forms[0].Inputs[1].InputName %></label>
        <select id="userGroupId" name="userGroupId" class="form-control">
          <% groups.forEach( group => { %>
            <option value="<%= group.groupId %>" selected> <%= group.groupName %> </option>
          <% }) %>
        </select>
    </div>

    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <%- include("../../partials/submitButton") %>
</form>

<%- include("../../partials/examplesFoot") %>
