<%- include("../../partials/examplesHead") %>

<h4>24. Creating a permission profile</h4>
<p>
    This code example demonstrates how to create a permission profile
</p>

<%- include("../../partials/docBody") %>

<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/code-examples/permission-profile-creating">AccountPermissionProfiles::create.</a>.
</p>

<%- include("../../partials/gitSource") %>

  <form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="profileName">Profile name</label>
        <input type="profileName" class="form-control" id="profileName" name="profileName">
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-docu">Submit</button>
</form>

<%- include("../../partials/examplesFoot") %>
