<%- include("../../partials/examplesHead") %>

<h4>30. Applying a brand to a template</h4>
<% if (templateOk) { %>
  <p>This code example demonstrates how to apply a brand to a template</p>
  <p>The access-code to utilize the example provided is: <strong>NJ9@D1</strong></p>
<% } %>

<%- include("../../partials/docBody") %>

<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<%- include("../../partials/gitSource") %>

<% if (templateOk) { %>
  <% if (brands.length !== 0) { %>
    <form class="eg" action="" method="post" data-busy="form">
      <div class="form-group">
        <label for="signerEmail">Signer Email</label>
        <input type="email" class="form-control" id="signerEmail" name="signerEmail"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="<%= locals.dsConfig.signerEmail%>">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="signerName">Signer Name</label>
        <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
               value="<%= locals.dsConfig.signerName%>" required>
      </div>
      <div class="form-group">
        <label for="ccEmail">CC Email</label>
        <input type="email" class="form-control" id="ccEmail" name="ccEmail"
               aria-describedby="emailHelp" placeholder="pat@example.com" required />
        <small id="emailHelp" class="form-text text-muted">The email and/or name for the cc recipient must be different from the signer.</small>
      </div>
      <div class="form-group">
        <label for="ccName">CC Name</label>
        <input type="text" class="form-control" id="ccName" placeholder="Pat Johnson" name="ccName"
               required>
      </div>
      <div class="form-group">
        <label for="brandId">Brand</label>
        <select id="brandId" name="brandId" class="form-control">
          <% brands.forEach( brand => { %>
            <option value="<%= brand.brandId %>" selected> <%= brand.brandName %> </option>
          <% }) %>
        </select>
      </div>
      <input type="hidden" name="_csrf" value="<%- csrfToken %>">
      <button type="submit" class="btn btn-docu">Submit</button>
  </form>
  <% } else { %>
    <p>Problem: please first create the brand using <a href="eg028">example 28.</a> <br/>
       Thank you.</p>

    <form class="eg" action="eg028" method="get">
      <button type="submit" class="btn btn-docu">Continue</button>
    </form>
  <% } %>
<% } else { %>
  <p>Problem: please first create the template using <a href="eg008">example 8.</a> <br/>
    Thank you.</p>
    
  <form class="eg" action="eg008" method="get">
    <button type="submit" class="btn btn-docu">Continue</button>
  </form>
<% } %>

<%- include("../../partials/examplesFoot") %>
