<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<% include("../../partials/functions") %>

<% if (templateOk) { %>
  <% if (brands.length !== 0) { %>
    <form class="eg" action="" method="post" data-busy="form">
      <% if(example.Forms && example.Forms[0].FormName) { %>
        <%- example.Forms[0].FormName %>
      <% } %>
      
      <div class="form-group">
        <label for="signerEmail"><%= example.Forms[0].Inputs[0].InputName %></label>
        <input type="email" class="form-control" id="signerEmail" name="signerEmail"
               aria-describedby="emailHelp" placeholder="<%= example.Forms[0].Inputs[0].InputPlaceholder %>" required
               value="<%= locals.dsConfig.signerEmail%>">
        <small id="emailHelp" class="form-text text-muted"><%= locals.manifest.SupportingTexts.HelpingTexts.EmailWontBeShared %></small>
      </div>
      <div class="form-group">
        <label for="signerName"><%= example.Forms[0].Inputs[1].InputName %></label>
        <input type="text" class="form-control" id="signerName" placeholder="<%= example.Forms[0].Inputs[1].InputPlaceholder %>" name="signerName"
               value="<%= locals.dsConfig.signerName%>" required>
      </div>
      <div class="form-group">
        <label for="ccEmail"><%= example.Forms[0].Inputs[2].InputName %></label>
        <input type="email" class="form-control" id="ccEmail" name="ccEmail"
               aria-describedby="emailHelp" placeholder="<%= example.Forms[0].Inputs[2].InputPlaceholder %>" required />
        <small id="emailHelp" class="form-text text-muted">The email and/or name for the cc recipient must be different from the signer.</small>
      </div>
      <div class="form-group">
        <label for="ccName"><%= example.Forms[0].Inputs[3].InputName %></label>
        <input type="text" class="form-control" id="ccName" placeholder="<%= example.Forms[0].Inputs[3].InputPlaceholder %>" name="ccName"
               required>
      </div>
      <div class="form-group">
        <label for="brandId"><%= example.Forms[0].Inputs[4].InputName %></label>
        <select id="brandId" name="brandId" class="form-control">
          <% brands.forEach( brand => { %>
            <option value="<%= brand.brandId %>" selected> <%= brand.brandName %> </option>
          <% }) %>
        </select>
      </div>
      <input type="hidden" name="_csrf" value="<%- csrfToken %>">
      <%- include("../../partials/submitButton") %>
  </form>
  <% } else { %>
    <%- formatString(example.RedirectsToOtherCodeExamples[0].RedirectText, formatString('href="eg0{0}"', example.RedirectsToOtherCodeExamples[0].CodeExampleToRedirectTo)) %>

    <form class="eg" action="eg028" method="get">
      <%- include("../../partials/continueButton") %>
    </form>
  <% } %>
<% } else { %>
  <%- formatString(example.RedirectsToOtherCodeExamples[0].RedirectText, formatString('href="eg00{0}"', example.RedirectsToOtherCodeExamples[0].CodeExampleToRedirectTo)) %>
    
  <form class="eg" action="eg008" method="get">
    <%- include("../../partials/continueButton") %>
  </form>
<% } %>

<%- include("../../partials/examplesFoot") %>
