<%- include("../../partials/examplesHead") %>

<h4>36. Send an envelope with delayed routing</h4>
<p>
    This example demonstrates how to delay an envelope’s delivery between recipients using the delayed routing feature.
</p>

<%- include("../../partials/docBody") %>

<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<%- include("../../partials/gitSource") %>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="signer1Email">Signer 1 Email</label>
        <input type="email" class="form-control" id="signer1Email" name="signer1Email"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="<%= locals.dsConfig.signerEmail %>" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="signer1Name">Signer 1 Name</label>
        <input type="text" class="form-control" id="signer1Name" placeholder="Pat Johnson" name="signer1Name"
               value="<%= locals.dsConfig.signerName %>" required />
    </div>
    <div class="form-group">
        <label for="signer2Email">Signer 2 Email</label>
        <input type="email" class="form-control" id="signer2Email" name="signer2Email"
               aria-describedby="emailHelp" placeholder="dana@example.com" required />
    </div>
    <div class="form-group">
        <label for="signer2Name">Signer 2 Name</label>
        <input type="text" class="form-control" id="signer2Name" placeholder="Dana Paxon" name="signer2Name"
               required />
    </div>
    <div class="form-group">
        <label for="delay">Delay (in hours)</label>
        <input type="number" class="form-control" id="delay" name="delay"
               required />
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>