<%- include("../../partials/examplesHead") %>

<h4>37. Request a signature by SMS delivery</h4>
<p>Sends a signature request via an SMS message.
</p>

<%- include("../../partials/docBody") %>

  <p>API method used:
   <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<%- include("../../partials/gitSource") %>
<form class="eg" action="" method="post" data-busy="form">

  <div class="form-group">
    <label for="countryCode">Signer Country Code</label>
    <input type="tel" class="form-control" id="countryCode" name="countryCode"
          aria-describedby="accessHelp" placeholder="1" required />
    <small id="accessHelp" class="form-text text-muted">The country code for the phone number below.</small>
  </div>
  <div class="form-group">
      <label for="phoneNumber">Signer Phone Number</label>
      <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
             aria-describedby="accessHelp" placeholder="415-555-1212" required />
      <small id="accessHelp" class="form-text text-muted">This phone number will receive a notification. We'll never share your phone number with anyone else.</small>
  </div>
    <div class="form-group">
      <label for="signerName">Signer Name</label>
      <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
             value="<%= locals.dsConfig.signerName %>" required>
    </div>
    <div class="form-group">
      <label for="ccCountryCode">CC Country Code</label>
      <input type="tel" class="form-control" id="ccCountryCode" name="ccCountryCode"
            aria-describedby="accessHelp" placeholder="1" required />
      <small id="accessHelp" class="form-text text-muted">The country code for the phone number below.</small>
    </div>
    <div class="form-group">
      <label for="ccPhoneNumber">CC Phone Number</label>
      <input type="tel" class="form-control" id="ccPhoneNumber" name="ccPhoneNumber"
             aria-describedby="accessHelp" placeholder="415-555-1212" required />
      <small id="accessHelp" class="form-text text-muted">This phone number will receive a notification. We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="ccName">CC Name</label>
      <input type="text" class="form-control" id="ccName" placeholder="Pat Johnson" name="ccName"
             required>
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-docu">Submit</button>
</form>

<%- include("../../partials/examplesFoot") %>
