<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<form class="eg" action="" method="post" data-busy="form">
  <% if(example.Forms && example.Forms[0].FormName) { %>
    <%- example.Forms[0].FormName %>
  <% } %>
  
    <div class="form-group">
      <label for="signer1Email"><%= example.Forms[0].Inputs[0].InputName %></label>
      <input type="email" class="form-control" id="signer1Email" name="signer1Email"
             aria-describedby="emailHelp" placeholder="<%= example.Forms[0].Inputs[0].InputPlaceholder %>" required
             value="<%= locals.dsConfig.signerEmail %>">
      <small id="emailHelp" class="form-text text-muted"><%= locals.manifest.SupportingTexts.HelpingTexts.EmailWontBeShared %></small>
    </div>
    <div class="form-group">
      <label for="signer1Name"><%= example.Forms[0].Inputs[1].InputName %></label>
      <input type="text" class="form-control" id="signer1Name" placeholder="<%= example.Forms[0].Inputs[1].InputPlaceholder %>" name="signer1Name"
             value="<%= locals.dsConfig.signerName %>" required>
    </div>
    <div class="form-group">
      <label for="signer2Email"><%= example.Forms[0].Inputs[2].InputName %></label>
      <input type="email" class="form-control" id="signer2Email" name="signer2Email"
             aria-describedby="emailHelp" placeholder="<%= example.Forms[0].Inputs[2].InputPlaceholder %>" required >
      <small id="emailHelp" class="form-text text-muted"><%= locals.manifest.SupportingTexts.HelpingTexts.EmailWontBeShared %></small>
    </div>
    <div class="form-group">
      <label for="signer2Name"><%= example.Forms[0].Inputs[3].InputName %></label>
      <input type="text" class="form-control" id="signer2Name" placeholder="<%= example.Forms[0].Inputs[3].InputPlaceholder %>" name="signer2Name"
             required>
    </div>
    <div class="form-group">
      <label for="ccEmail"><%= example.Forms[0].Inputs[4].InputName %></label>
      <input type="email" class="form-control" id="ccEmail" name="ccEmail"
             aria-describedby="emailHelp" placeholder="<%= example.Forms[0].Inputs[4].InputPlaceholder %>" required >
      <small id="emailHelp" class="form-text text-muted"><%= locals.manifest.SupportingTexts.HelpingTexts.CCEmailShouldDifferFromSigner %></small>
    </div>
    <div class="form-group">
      <label for="ccName"><%= example.Forms[0].Inputs[5].InputName %></label>
      <input type="text" class="form-control" id="ccName" placeholder="<%= example.Forms[0].Inputs[5].InputPlaceholder %>" name="ccName"
             required>
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <%- include("../../partials/submitButton") %>
</form>
  
<%- include("../../partials/examplesFoot") %>
