<%- include("../../partials/examplesHead") %>

<h4><%= example.ExampleName %></h4>
<p><%- example.ExampleDescription %></p>
<p><%- formatString(locals.manifest.SupportingTexts.HelpingTexts.EnvelopeWillBeRestored, envelopeId) %></p>

<form class="eg" action="" method="post" data-busy="form">
  <input type="hidden" name="_csrf" value="<%- csrfToken %>">
  <%- include("../../partials/submitButton") %>
</form>

<%- include("../../partials/examplesFoot") %>
