
<%- include("../../partials/examplesHead") %>
<h4>6. Creates external form fill session.</h4>
<p>This is an example of creating external form fill session.</p>

<%- include("../../partials/docBody") %>

<p>API methods used:
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms::GetRooms</a>,
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetDocuments">Rooms::GetDocuments</a> and
  <a target ='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/ExternalFormFillSessions/CreateExternalFormFillSession">ExternalFormFillSessions::CreateExternalFormFillSession</a>
</p>
<%- include("../../partials/gitSource") %>
<% if (documents && documents.length > 0) { %>
<form class="eg" action="" method="post" data-busy="form">
  <div class="form-group">
    <label for="docuSignFormId">Forms</label>
    <select id="docuSignFormId" name="docuSignFormId" class="form-control" required>
      <% documents.forEach( document => { %>
        <option value="<%= document.docuSignFormId %>" selected> <%= document.name %> </option>
      <% }) %>
    </select>
  </div>
  <input type="hidden" name="_csrf" value="<%- csrfToken %>">
  <input type="hidden" name="roomId" value="<%- roomId %>">
  <button type="submit" class="btn btn-docu">Submit</button>
</form>
<% } else { %>
  <p>Problem: Selected room does not have any documents. Please first add a form to a room using  <a href="eg004">example 4</a></a> <br/>
   Thank you.</p>
   <form class="eg" action="eg004" method="get">
    <button type="submit" class="btn btn-docu">Continue</button>
  </form>
<% } %>
<%- include("../../partials/examplesFoot") %>
