<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<% include("../../partials/functions") %>

<% if (templates && templates.length > 0) { %>
  <form class="eg" action="" method="post" data-busy="form">
    <% if(example.Forms && example.Forms[0].FormName) { %>
      <%- example.Forms[0].FormName %>
    <% } %>
    
    <div class="form-group">
      <label for="roomName"><%= example.Forms[0].Inputs[0].InputName %></label>
      <input type="text" class="form-control" id="roomName" placeholder="<%= example.Forms[0].Inputs[0].InputPlaceholder %>" name="roomName"
        value="<%= locals.dsConfig.roomName %>" required>
    </div>
    <div class="form-group">
      <label for="templateId"><%= example.Forms[0].Inputs[1].InputName %></label>
      <select id="templateId" name="templateId" class="form-control">
        <% templates.forEach( template => { %>
        <option value="<%= template.templateId %>" selected> <%= template.name %> </option>
        <% }) %>
      </select>
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <%- include("../../partials/submitButton") %>
  </form>
  <% } else { %>
    <%- formatString(example.RedirectsToOtherCodeExamples[0].RedirectText, formatString('href="eg00{0}"', example.RedirectsToOtherCodeExamples[0].CodeExampleToRedirectTo)) %>
     
  <form class="eg" action="eg002" method="get">
      <%- include("../../partials/continueButton") %>
  </form>
  <% } %>

<%- include("../../partials/examplesFoot") %>