<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<form class="eg" action="" method="post" data-busy="form">
  <% if(example.Forms && example.Forms[0].FormName) { %>
    <%- example.Forms[0].FormName %>
  <% } %>
  
  <div class="form-group">
    <label for="roomName"><%= example.Forms[0].Inputs[0].InputName %></label>
    <input type="text" class="form-control" id="roomName" placeholder="<%= example.Forms[0].Inputs[0].InputPlaceholder %>" name="roomName"
          value="<%= locals.dsConfig.roomName %>" required>
  </div>
  <input type="hidden" name="_csrf" value="<%- csrfToken %>">
  <%- include("../../partials/submitButton") %>
</form>
<%- include("../../partials/examplesFoot") %>
