<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<% include("../../partials/functions") %>

<% if (rooms && rooms.length > 0) { %>
<form class="eg" action="" method="post" data-busy="form">
  <% if(example.Forms && example.Forms[0].FormName) { %>
    <%- example.Forms[1].FormName %>
  <% } %>
  
  <div class="form-group">
    <label for="roomId"><%= example.Forms[1].Inputs[0].InputName %></label>
    <select id="roomId" name="roomId" class="form-control" required>
      <% rooms.forEach( room => { %>
        <option value="<%= room.roomId %>" selected> <%= room.name %> </option>
      <% }) %>
    </select>
  </div>
  <input type="hidden" name="_csrf" value="<%- csrfToken %>">
  <%- include("../../partials/submitButton") %>
</form>
<% } else { %>

  <%- formatString(example.RedirectsToOtherCodeExamples[1].RedirectText, formatString('href="reg00{0}"', example.RedirectsToOtherCodeExamples[1].CodeExampleToRedirectTo)) %>
   
<form class="eg" action="reg001" method="get">
    <%- include("../../partials/continueButton") %>
</form>
<% } %>
<%- include("../../partials/examplesFoot") %>
