<%- include("../../partials/examplesHead") %>
<h4 id="example005">5. <a href="eg005">Get filtered rooms.</a></h4>
<p>This example returns rooms by filter.</p>

<%- include("../../partials/docBody") %>

<p>API methods used:
  <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms: GetRooms</a>.
</p>
<%- include("../../partials/gitSource") %>
<form class="eg" action="" method="post" data-busy="form">
  <input type="hidden" name="_csrf" value="<%- csrfToken %>">
  <button type="submit" class="btn btn-docu">Submit</button>
</form>
<%- include("../../partials/examplesFoot") %>
