<%- include("../partials/genericHead") %>
<div style="margin:1% 5%;">
  <%- locals.manifest.SupportingTexts.LoginPage.LoginHeader %>
  <p class="lead">
  <form class="eg" action="/ds/login" method="get" data-busy="form">
    <div class="form-group">
      <select id="auth" name="auth" class="form-control">
        <option value="grand-auth" selected>Authorization Code Grant</option>
        <option value="jwt-auth">JWT (JSON Web Token)</option>
      </select><br>
      <button class="btn btn-docu btn-lg"><%- locals.manifest.SupportingTexts.LoginPage.LoginButton %></button>
    </div>
  </form>
  </p>
  <hr class="my-4">
  <p><%- locals.manifest.SupportingTexts.LoginPage.LoginHelperText %></p>

</div>
<%- include("../partials/genericFoot") %>
