<%- include("../partials/genericHead") %>

<h2><%= title %></h2>
<p><%- message %></p>

<code><%- json %></code>

<p style="color: white;">
//ds-snippet-start:Rooms6Step5
<iframe width="100%" height="800" src=<%- url %>>

</iframe>
//ds-snippet-end:Rooms6Step5
</p>

<p><a href="/">Continue</a></p>

<%- include("../partials/genericFoot") %>