<%- include("../partials/genericHead") %>

<h2><%= title %></h2>
<p><%- message %></p>

<code><%- json %></code>

<iframe width="100%" height="800" src=<%- url %>>

</iframe>

<p><a href="/">Continue</a></p>

<%- include("../partials/genericFoot") %>