<%- include("../partials/genericHead") %>

  <!-- IF not signed in -->
<div>
  <div class="jumbotron jumbotron-fluid">

    <table>
      <tbody>
          <tr>
              <td>



    <% if (locals.dsConfig.multiSourceChooser) { %>
      <h1 class="display-4">Welcome</h1>
      <p class="Xlead">Run and explore DocuSign code examples with Authorization Code Grant or JWT Grant authentication</p>
    <% } else { %>
      <h1 class="display-4">Node Launcher</h1>
      <% if (examplesApi.examplesApi.isAdminApi) { %>
        <p class="Xlead">
          Run and explore DocuSign Admin API code examples with Authorization Code Grant or JWT Grant authentication
        </p>
      <% } else if (examplesApi.examplesApi.isClickApi) { %>
        <p class="Xlead">
          Run and explore Click API code examples with Authorization Code Grant or JWT Grant authentication
        </p>
      <% } else if (examplesApi.examplesApi.isRoomsApi) { %>
        <p class="Xlead">
          Run and explore Rooms API code examples with Authorization Code Grant or JWT Grant authentication
        </p>
      <% } else if (examplesApi.examplesApi.isMonitorApi) { %>
        <p class="Xlead">
          Run and explore Monitor API code examples with JWT Grant authentication
        </p>
      <% } else { %>
        <p class="Xlead">
          Run and explore eSignature REST API code examples with Authorization Code Grant or JWT Grant authentication
        </p>
      <% } %>
    <% } %>

  </td>
  <td>
      <img src="/images/banner-code.png" />
  </td>
</tr>
</tbody>
</table>

  </div>
</div>


<div class="container" style="margin-top: 40px" id="index-page">

  <% if (locals.dsConfig.multiSourceChooser) { %>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
           aria-controls="pills-home" aria-selected="true">Code Examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
           aria-controls="pills-profile" aria-selected="false">Launchers for Bash, C#, Java, Node.js, PHP, PowerShell, Python, and Ruby</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <%- include("index_examples") %>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <%- include("index_launchers") %>
      </div>
    </div>
  <% } else { %>
    <%- include("index_examples") %>
  <% } %>
</section>
</div>

    <!-- anchor-js is only for the index page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
<script>anchors.options.placement = 'left'; anchors.add('h4')</script>

<%- include("../partials/genericFoot") %>
