<div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" id="code_example_search" placeholder="Search for code example">
</div>

<div id="filtered_code_examples" class="container" style="margin-top: 10px; padding-left: 0px;">

    <% locals.manifest.APIs.forEach(function(api) { %>

        <% api.Groups.forEach(function(group) { %>
            <h2 class="mt-4"><%= group.Name %></h2>

            <% group.Examples.forEach(function(example) { %>
                <% if (!example.SkipForLanguages || !example.SkipForLanguages.includes("node")) { %>
                    <% if (api.Name.toLowerCase() !== "esignature" || ((example.CFREnabled == "AllAccounts") || ((locals.statusCFR == "enabled") && (example.CFREnabled == "CFROnly")) || ((locals.statusCFR != "enabled") && (example.CFREnabled == "NonCFR")))) { %>
                        <% var apiPrefix = api.Name == "Admin" ? "a"
                        : api.Name == "Click" ? "c"
                        : api.Name == "Monitor" ? "m"
                        : api.Name == "Rooms" ? "r"
                        : ""; %>
                        
                        <h4
                            id=<%= `${apiPrefix}example`.concat("0".repeat(3 - example.ExampleNumber.toString().length)).concat(example.ExampleNumber) %>
                        >
                            <a 
                                href=<%= `${apiPrefix}eg`.concat("0".repeat(3 - example.ExampleNumber.toString().length)).concat(example.ExampleNumber) %>>
                                <%= example.ExampleName %>
                            </a>
                        </h4>
                    
                        <p><%- example.ExampleDescription %></p>
                    
                        <p>
                            <% if (example.LinksToAPIMethod.length > 1) { %>
                                API methods used:
                            <% } else { %>
                                API method used:
                            <% } %>
                            
                            <% example.LinksToAPIMethod.forEach(function(link) { %>
                                <a target='_blank' href="<%= link.Path %>"><%= link.PathName %></a>
                            <% }); %>
                        </p>
                    <% } %>
                <% } %>
            <% }); %>
        <% }); %>
    <% }); %>
</div>

<div id="api_json_data" class="hidden"><%- JSON.stringify(locals.manifest) %></div>
<div id="cfr11_data" class="hidden"><%= locals.statusCFR %></div>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
<script src="/assets/search.js"></script>
