<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<% if (workspaceIdOk) { %>
  <form id="uploadForm" class="eg" action="" method="post" data-busy="form">
    <% if(example.Forms && example.Forms[0].FormName) { %>
      <%- example.Forms[0].FormName %>
    <% } %>

    <div class="form-group">
      <label for="documentName"><%= example.Forms[0].Inputs[0].InputName %></label>
      <input type="text" class="form-control" id="documentName" placeholder="<%= example.Forms[0].Inputs[0].InputPlaceholder %>" 
             name="documentName" required>
      <small id="nameError" class="form-text text-muted validation-error"></small>
      <small id="emailHelp" class="form-text text-muted"><%= locals.manifest.SupportingTexts.HelpingTexts.SpecifyNameWithExtension %></small>
    </div>

    <div class="form-group">
      <label for="documentPath"><%= example.Forms[0].Inputs[1].InputName %></label>
      <input type="file" accept=".pdf" class="form-control" id="documentPath" placeholder="<%= example.Forms[0].Inputs[1].InputPlaceholder %>" 
             name="documentPath" required>
      <small id="pathError" class="form-text text-muted validation-error"></small>
      <small id="emailHelp" class="form-text text-muted"><%= documentFolder %></small>
    </div>

    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <%- include("../../partials/submitButton") %>
  </form>

  <script>
    const form = document.getElementById('uploadForm');
    form.addEventListener('submit', function (event) {
      const docNameInput = document.getElementById('documentName');
      const fileInput = document.getElementById('documentPath');
      const nameErrorEl = document.getElementById('nameError');
      const pathErrorEl = document.getElementById('pathError');

      const documentName = docNameInput.value.trim();
      const file = fileInput.files[0];

      // Validate documentName ends with .pdf
      if (!documentName.toLowerCase().endsWith(".pdf")) {
        nameErrorEl.textContent = 'Document name must contain .pdf extension';
        event.preventDefault();
        event.stopImmediatePropagation();
      } else {
        nameErrorEl.textContent = ''; // clear any previous errors
      }

      // Check extension
      const isPdf = file.name.toLowerCase().endsWith('.pdf');
      const isPdfMime = file.type === 'application/pdf';

      if (!isPdf || !isPdfMime) {
        fileInput.value = ''; // reset file input
        pathErrorEl.textContent = 'Invalid file type. Please upload a PDF file.';
        event.preventDefault();
        event.stopImmediatePropagation();
      } else {
        pathErrorEl.textContent = ''; // clear any previous errors
      }
    }, true);
  </script>
<% } else { %>
  <%- formatString(example.RedirectsToOtherCodeExamples[0].RedirectText, formatString('href="work00{0}"', example.RedirectsToOtherCodeExamples[0].CodeExampleToRedirectTo)) %>
  <form class="eg" action="work001" method="get">
      <%- include("../../partials/continueButton") %>
  </form>
<% } %>
  
<%- include("../../partials/examplesFoot") %>
