<%- include("../../partials/examplesHead") %>

<%- include("../../partials/exampleInfo") %>

<form class="eg" action="" method="post" data-busy="form">
  <% if(example.Forms && example.Forms[0].FormName) { %>
    <%- example.Forms[0].FormName %>
  <% } %>
    <div class="form-group">
      <label for="workspaceName"><%= example.Forms[0].Inputs[0].InputName %></label>
      <input type="text" class="form-control" id="workspaceName" placeholder="<%= example.Forms[0].Inputs[0].InputPlaceholder %>" 
             name="workspaceName" required>
    </div>
    
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <%- include("../../partials/submitButton") %>
</form>
  
<%- include("../../partials/examplesFoot") %>
