<%- include("../../partials/examplesHead") %>

<h2><%= title %></h2>
<p><%- message %></p>

<iframe width="900" height="600" src=<%- instanceUrl %>></iframe>

<p><a href="/">Continue</a></p>

<%- include("../../partials/examplesFoot") %>
